<span
  class="junip-product-summary"
  data-product-id="{{ product.id }}"
  data-product-rating-count="{{ product.metafields.junip.rating_count }}"
  data-product-rating-average="{{ product.metafields.junip.rating_average }}">
</span>
